{% extends "layout.html" %}
{% block body %}
    {%if not current_user.is_authenticated%}
    <form id="back_to_login" action="{{ url_for('show_login') }}">
        <input class="submit_button" type="submit" name="Login Button" value="Back To Login Page">
    </form>
    {% endif %}
    <div id="how_to_play">
        <h4 class="how_to_intro">There are two pages where you can interact with the game. The first is called <b>Main Page</b> and the second is called <b>Game Setup</b>. On this page, I am going to explain how each page works.</h4>
        <div class="how_to_block">
            <div class="how_to_main">
                <h3>What is the Main Page</h3>
                <p>This page has six brown boxes where you can enter information.</p>
                <h3>What is Enter Party?</h3>
                <p>Every person at the party must have a user id. You choose your id and whether you want to be a peasant or a noble.</p>
                <h3>What is Pledge Allegiance?</h3>
                <p>If you are a peasant, you must pledge allegiance to some noble in order to buy a drink. When you do that, the cost of your drinks will be paid for with that noble's coin.</p>
                <h3>What is Buy Drink?</h3>
                <p>You use this box to buy drinks.</p>
                <h3>What is Ban Peasant?</h3>
                <p>If a peasant is drinking too much and wasting too much of a noble's coin, a noble can ban a peasant from his or her kingdom. That peasant must pledge allegiance to a different noble in order to drink.</p>
                <h3>What is Get a Quest?</h3>
                <p>Peasants and Nobles receive coin when they perform quests. Peasants want more coin because they need coin to become a noble. Nobles want more coin because, if they run out of coin, they become a peasant. Quests can be performed on behalf of someone else.</p>
                <h3>What is Kill a Target?</h3>
                <p>When you kill someone, you take their money, their status, and their soldiers.</p>
            </div>
            <div class="how_to_setup">
                <h3>What is the Game Setup</h3>
                <p>This page has three tables and three brown boxes where you can control the information in those tables.</p>
                <h3>What is Add or Update Drink?</h3>
                <p>This table shows all of the drinks users can buy at your party. At the start, each party is given water and beer. You can add a drink or update the price of an existing drink. You can have as many drinks as your want.</p>
                <h3>What is Update Starting Coin?</h3>
                <p>This table shows how much coin Nobles and Peasants receive when they start the game. You can update this amount, so as to match the price of your drinks or how much you and your friends are drinking.</p>
                <h3>What is Set Quest Rewards?</h3>
                <p>This table shows how much coin you will receive for completing different types of quests. You can update this amount, so as to help control how quickly a peasant can become a noble.</p>
            </div>
        </div>
    </div>
{% endblock %}
