{% extends "layout.html" %}
{% block body %}
    <div class="killBody">
        <div id="prompt_challenge">
            <h3 id="kill_prompt">In order to kill your target, you must complete this one task:</h3>
            <h4 id="kill_challenge">{{challenge}}</h4>
        </div>
        <div class="assassinate">
            <form action="{{ url_for('assassinate') }}" method="post">
                <input class="input_box" type="text" name="player_name" value="{{ player_name }}" readonly></input>
                <input class="input_box" type="text" name="target_name" value="{{ target_name }}" readonly></input>
                <h4>Who won the challenge?</h4>
                <input class="submit_button" type="submit" value="{{ player_name }}" name="winner_name"></input>
                <input class="submit_button" type="submit" value="{{ target_name }}" name="winner_name"></input>
            </form>
        </div>
    </div>
{% endblock %}