<!doctype html>
<html lang="en">
    <head>{% block head %}
        <meta charset="UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <title>Nobles and Peasants</title>
    {% endblock %}</head>
    <body>
        <div class="page">
            <ul class="nav_bar">
                <li><a href="{{ url_for('welcome') }}">Set Up Page</a></li>
                <li><a href="{{ url_for('show_main') }}">Main Game Page</a></li>
                <li><a href="{{ url_for('show_kingdom') }}">Kingdom</a></li>
                <li><a href="{{ url_for('show_leaderboard') }}">Leaderboard</a></li>
            </ul>
            <div class="titles">
                <div class="title"><h1>Nobles and Peasants</h1></div>
                <div class="subtitle"><h2>Nobles have the coin. Peasants have the power.</h2></div>
            </div>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</div>
