{% extends "layout.html" %}
{% block body %}
	{% for message in get_flashed_messages() %}
		<div class="flash_main">{{ message }}</div>
	{% endfor %}
	<div id="main_page">
		<div class="main_col" id="left_col">
			<div class="main_form" id="sign_in_form">
				<form action="{{ url_for('game.sign_in') }}" method="post">
					<input class="input_box" type="text" name="player_name" placeholder="Choose a Name" required></input>
					<p></p>
					<select class="select_box" name="player_status" required>
						<option value="randomly decide" selected>Randomly Decide</option>
						<option value="noble">Noble</option>
						<option value="peasant">Peasant</option>
					</select>
					<p></p>
					<input class="submit_button" type="submit" value="Enter Party"></input>
				</form>
			</div>
			<div class="main_form" id="ban_form">
				<form action="{{ url_for('game.ban_peasant') }}" method="post">
					<input class="data_list" list="nobles" name="noble_name" placeholder="Your Name" required>
						<datalist id="noble_names">
							{% for n in noble_names %}
								<option value="{{ n }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<input class="data_list" list="people" name="peasant_name" placeholder="Peasant Name" required>
						<datalist id="player_names">
							{% for p in player_names %}
								<option value="{{ p }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<input class="submit_button" type="submit" value="Ban This Peasant"></input>
				</form>
			</div>
		</div>
		<div class="main_col" id="center_col">
			<div class="main_form" id="pledge_form">
				<form action="{{ url_for('game.pledge_allegiance') }}" method="post">
					<input class="data_list" list="player_names" name="player_name" placeholder="Your Name" required>
						<datalist id="player_names">
							{% for p in player_names %}
								<option value="{{ p }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<input class="data_list" list="noble_names" name="noble_name" placeholder="Noble's Name" required>
						<datalist id="noble_names">
							{% for n in noble_names %}
								<option value="{{ n }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<input class="submit_button" type="submit" value="Pledge Allegiance"></input>
				</form>
			</div>
			<div class="main_form" id="quest_form">
				<form action="{{ url_for('game.get_quest') }}" method="post">
					<input class="data_list" id="receive_reward" list="player_names" name="player_name" placeholder="Name To Receive Reward" required>
						<datalist id="player_names">
							{% for p in player_names %}
								<option value="{{ p }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<select class="select_box" name="difficulty" required>
						<option value="easy" selected>Easy</option>
						<option value="medium">Medium</option>
						<option value="hard">Hard</option>
					</select>
					<p></p>
					<input class="submit_button" type="submit" value="Get a Quest"></input>
				</form>
			</div>
		</div>
		<div class="main_col" id="right_col">
			<div class="main_form" id="buy_drink_form">
				<form action="{{ url_for('game.buy_drink') }}" method="post">
					<input class="data_list" list="player_names" name="player_name" placeholder="Your Name" required>
						<datalist id="player_names">
							{% for p in player_names %}
								<option value="{{ p }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<select class="select_box" name="drink_name" required>
							<option value="" disabled selected>Choose a Drink</option>
						{% for d in drink_names %}
							<option value="{{ d }}">{{ d }}</option>
						{% endfor %}
					</select>
					<input class="input_box" type="number" name="quantity" placeholder="Quantity" min=1 max=5 required></input>
					<p></p>
					<input class="submit_button" type="submit" value="Buy Drink"></input>
				</form>
			</div>
			<div class="main_form" id="kill_form">
				<form action="{{ url_for('game.kill') }}" method="post">
					<input class="data_list" list="player_names" name="player_name" placeholder="Your Name" required>
						<datalist id="player_names">
							{% for p in player_names %}
								<option value="{{ p }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<input class="data_list" list="player_names" name="target_name" placeholder="Target Name" required>
						<datalist id="player_names">
							{% for p in player_names %}
								<option value="{{ p }}"></option>
							{% endfor %}
						</datalist>
					</input>
					<p></p>
					<input class="submit_button" type="submit" value="Kill a Target"></input>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
