{% extends "layout.html" %}
{% block body %}
	<div class="sign">
		<h3>Sign In</h3>
		<form action="{{ url_for('sign_in') }}" method="post">
			<dl>
				<dt>Choose your ID:</dt>
				<dd><input type="text" name="user_id"></dd>
				<p></p>
				<dt>Choose your status:</dt>
				<dd>
					<input type="radio" name="user_status" value="randomly decide" checked>randomly decide
					<input type="radio" name="user_status" value="peasant">peasant
					<input type="radio" name="user_status" value="noble">noble
				</dd>
				<p></p>
				<dd><input type="submit" value="Sign In"></dd>
			</dl>
		</form>
	</div>
	<div class="pledge">
		<h3>Pledge Allegiance</h3>
		<form action="{{ url_for('pledge_allegiance') }}" method="post">
			<dl>
				<dt>Enter your ID:</dt>
				<dd><input type="text" name="user_id"></dd>
				<p></p>
				<dt>Enter the noble's ID:</dt>
				<dd><input type="text" name="noble_id"></dd>
				<p></p>
				<dd><input type="submit" value="Pledge Allegiance"></dd>
			</dl>
		</form>
	</div>
	<div class="buy">
		<h3>Buy a drink</h3>
		<form action="{{ url_for('buy_drink') }}" method="post">
			<dl>
				<dt>Enter your ID:</dt>
				<dd><input type="text" name="user_id"></dd>
				<p></p>
				<dt>Choose your drink:</dt>
				<dd><select name="drink">
					{% for d in drinks %}
						<option value="{{ d }}">{{ d }}</option>
					{% endfor %}
				</select></dd>
				<p></p>
				<dt>How many?</dt>
				<dd><input type="number" name="quantity"></input></dd>
				<p></p>
				<dd><input type="submit" value="Buy Drink"></dd>
			</dl>
		</form>
	</div>
	<div class="ban">
		<h3>Ban a Peasant</h3>
		<form action="{{ url_for('ban_peasant') }}" method="post">
			<dl>
				<dt>Enter your ID:</dt>
				<dd><input type="text" name="noble_id"></dd>
				<p></p>
				<dt>Enter peasant ID:</dt>
				<dd><input type="text" name="peasant_id"></dd>
				<p></p>
				<dd><input type="submit" value="Ban Peasant"></dd>
			</dl>
		</form>
	</div>
	<div class="dare">
		<h3>Truth or Dare</h3>
		<form action="{{ url_for('get_dare') }}" method="post">
			<dl>
				<dd><input type="submit" value="Get Dare"></dd>
			</dl>
		</form>
	</div>
	<div class="kill">
		<h3>Kill a Target</h3>
		<form action="{{ url_for('kill') }}" method="post">
			<dl>
				<dt>Enter your ID:</dt>
				<dd><input type="text" name="user_id"></dd>
				<p></p>
				<dt>Enter your target's ID:</dt>
				<dd><input type="text" name="target_id"></dd>
				<p></p>
				<dd><input type="submit" value="Kill"></dd>
			</dl>
		</form>
	</div>
{% endblock %}
