{% extends "layout.html" %}
{% block body %}
    <div class="quest_title">
        <h3>{{quest}}<h3>
        <h4>You must complete this quest to receive the reward</h4>
    </div>
    <form class="result_form" action="{{ url_for('add_money') }}" method="post">
        <input class="input_box" type="text" name="user_id" value="{{ id }}" readonly></input>
        <input class="input_box" type="text" name="level" value="{{ level }}" readonly></input>
        <p>Did you complete your quest?</p>
        <input class="submit_button" type="submit" value="Yes" name="result"></input>
        <input class="submit_button" type="submit" value="No" name="result"></input>
    </form>
{% endblock %}