{% extends "layout.html" %}
{% block body %}
    {% for message in get_flashed_messages() %}
		<div class="flash_main">{{ message }}</div>
	{% endfor %}
    <div id="setup_info">
        <div class="setup_block" id="set_drinks">
            <h3>Drinks At Your Party</h3>
            <p>Please drink responsibly</p>
            <table class="nap_table" id="drinks_table">
                <thead>
                    <tr>
                        <th>Drink Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for drink in drinks %}
                    <tr>
                        <td>{{drink.drink_name}}</td>
                        <td>{{drink.drink_cost}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.add_drink') }}" method="post" class="setup_form" class="add_drink_form">
                <input class="input_box" type="text" name="drink_name" placeholder="Drink Name" required></input>
                <input class="num_box" type="number" name="price" placeholder="Price" min=1 required></input>
                <input class="submit_button" type="submit" value="Add or Update Drink"></input>
            </form>
        </div>
        <div class="setup_block" id="set_coin">
            <h3>Initial Coin For Players</h3>
            <p>The source of class inequality in the party</p>
            <table class="nap_table" id="coin_table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Initial Coin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in starting_coin %}
                    <tr>
                        <td>{{role.player_status}}</td>
                        <td>{{role.coin}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.set_coin') }}" method="post" class="setup_form" id="set_coin_form">
                <input class="num_box" id="noble_coin_input" type="number" name="noble_coin" placeholder="Noble Coin" min=1 required></input>
                <p></p>
                <input class="submit_button" type="submit" value="Update Initial Coin"></input>
            </form>
        </div>
        <div class="setup_block" id="set_reward">
            <h3>Rewards For Completing Quests</h3>
            <p>Larger rewards leads to faster upwards mobility</p>
            <table class="nap_table" id="reward_table">
                <thead>
                    <tr>
                        <th>Quest Difficulty</th>
                        <th>Coin Rewarded</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reward in quest_rewards %}
                    <tr>
                        <td>{{reward.difficulty}}</td>
                        <td>{{reward.reward}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.set_wages') }}" method="post" class="setup_form" id="set_wage_form">
                <input class="num_box" id="easy_reward" type="number" name="easy" placeholder="Easy" min=1 required></input>
                <input class="num_box" id="medium_reward" type="number" name="medium" placeholder="Medium" min=1 required></input>
                <input class="num_box" id="hard_reward" type="number" name="hard" placeholder="Hard" min=1 required></input>
                <p></p>
                <input class="submit_button" type="submit" value="Set Quest Rewards"></input>
            </form>
        </div>
        <div class="setup_block" id="add_quest">
            <h3>Add A Custom Quest</h3>
            <p>Dont add anything illegal</p>
            <table class="q_table" id="quest_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Quest</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in quests %}
                    <tr>
                        <td>{{q.id}}</td>
                        <td>{{q.quest}}</td>
                        <td>{{q.difficulty}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.add_quest') }}" method="post" class="setup_form" id="add_quest_form">
                <input class="input_box" id="custom_quest_input" type="text" name="quest" placeholder="Quest Description" required></input>
                <select class="select_box" id="custom_quest_difficulty" name="difficulty" required>
                    <option value="easy" selected>Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <p></p>
                <input class="submit_button" type="submit" value="Add Quest"></input>
            </form>
            <form action="{{ url_for('game.delete_quest') }}" method="post" class="setup_form" id="delete_quest_form">
                <input class="num_box" type="number" name="quest_id" placeholder="Quest ID" required></input>
                <p></p>
                <input class="submit_button" type="submit" value="Delete Quest"></input>
            </form>
        </div>
    </div>
{% endblock %}
