{% extends "layout.html" %}
{% block body %}
    <div id="setup_info">
        <div class="setup_block" id="set_drinks">
            <h3>Drinks At Your Party</h3>
            <table class="nap_table" id="drinks_table">
                <thead>
                    <tr>
                        <td>Drink Name</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    {% for drink in drinks %}
                    <tr>
                        <td>{{drink.drink_name}}</td>
                        <td>{{drink.drink_cost}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.add_drink') }}" method="post" class="setup_form" class="add_drink_form">
                <input class="input_box" type="text" name="drink_name" placeholder="Name" required></input>
                <input class="num_box" type="number" name="price" placeholder="Price" min=1 required></input>
                <input class="submit_button" type="submit" value="Add or Update Drink"></input>
            </form>
        </div>
        <div class="setup_block" id="set_coin">
            <h3>Starting Coin For Nobles and Peasants</h3>
            <p>Give nobles just enough money to support an army</p>
            <table class="nap_table" id="coin_table">
                <thead>
                    <tr>
                        <td>Status</td>
                        <td>Starting Coin</td>
                    </tr>
                </thead>
                <tbody>
                    {% for role in starting_coin %}
                    <tr>
                        <td>{{role.player_status}}</td>
                        <td>{{role.coin}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.set_coin') }}" method="post" class="setup_form" id="set_coin_form">
                <input class="num_box" type="number" name="noble_coin" placeholder="Noble Coin" min=1 required></input>
                <p></p>
                <input class="submit_button" type="submit" value="Update Starting Coin"></input>
            </form>
        </div>
        <div class="setup_block" id="set_reward">
            <h3>Rewards For Completing Quests</h3>
            <p>Control how easily peasants can get coin</p>
            <table class="nap_table" id="reward_table">
                <thead>
                    <tr>
                        <td>Quest Difficulty</td>
                        <td>Coin Rewarded</td>
                    </tr>
                </thead>
                <tbody>
                    {% for reward in quest_rewards %}
                    <tr>
                        <td>{{reward.difficulty}}</td>
                        <td>{{reward.reward}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('game.set_wages') }}" method="post" class="setup_form" id="set_wage_form">
                <input class="num_box" type="number" name="easy" placeholder="Easy" min=1 required></input>
                <input class="num_box" type="number" name="medium" placeholder="Medium" min=1 required></input>
                <input class="num_box" type="number" name="hard" placeholder="Hard" min=1 required></input>
                <p></p>
                <input class="submit_button" type="submit" value="Set Quest Rewards"></input>
            </form>
        </div>
    </div>
{% endblock %}
