{% extends "layout.html" %}
{% block body %}
    <div class="leaderboard">
        <table class="nap_table" id="leaderboard_table">
            <thead><tr>
                <td>ID</td>
                <td>Soldiers</td>
                <td>Coin</td>
                <td>Drinks</td>
            </tr></thead>
            <tbody>
            {% for noble in leaderboard %}
            <tr>
                <td>{{noble.id}}</td>
                <td>{{noble.soldiers}}</td>
                <td>{{noble.coin}}</td>
                <td>{{noble.drinks}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
