{% extends "layout.html" %}
{% block body %}
    <div class="kingdom">
        <table class="setup_table">
            <thead><tr>
                <td>ID</td>
                <td>Status</td>
                <td>Allegiance</td>
                <td>Coin</td>
                <td>Drinks</td>
                <td>Soldiers</td>
            </tr></thead>
            <tbody>
            {% for person in kingdom %}
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.status}}</td>
                <td>{{person.allegiance}}</td>
                <td>{{person.coin}}</td>
                <td>{{person.drinks}}</td>
                <td>{{person.soldiers}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
