{% extends "layout.html" %}
{% block body %}
    <div class="kingdom">
        <table class="nap_table" id="kingdom_table">
            <thead><tr>
                <td>Name</td>
                <td>Status</td>
                <td>Allegiance</td>
                <td>Coin</td>
                <td>Drinks</td>
                <td>Soldiers</td>
            </tr></thead>
            <tbody>
            {% for player in players %}
            <tr>
                <td>{{player.player_name}}</td>
                <td>{{player.player_status}}</td>
                <td>{{player.noble_name}}</td>
                <td>{{player.coin}}</td>
                <td>{{player.drinks}}</td>
                <td>{{player.soldiers}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
