{% extends "layout.html" %}
{% block body %}
    <div class=kingdom>
        <table class=kingdom style="width:100%">
            <tr>
                <td><b>ID</b></td>
                <td><b>Status</b></td>
                <td><b>Allegiance</b></td>
                <td><b>Coin</b></td>
                <td><b>Drinks</b></td>
                <td><b>Soldiers</b></td>
            </tr>
            {% for person in kingdom %}
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.status}}</td>
                <td>{{person.allegiance}}</td>
                <td>{{person.coin}}</td>
                <td>{{person.drinks}}</td>
                <td>{{person.soldiers}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
