{% extends "layout.html" %}
{% block body %}
    <div class="almighty">
        <h4>The Almighty Ruler Of Heaven And Earth is</h4>
        <h3>{{almighty_ruler}}</h3>
    </div>
    <div class="leaderboard">
        <table class="nap_table" id="leaderboard_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Soldiers</th>
                    <th>Coin</th>
                    <th>Drinks</th>
                </tr>
            </thead>
            <tbody>
            {% for noble in leaderboard %}
                <tr>
                    <td>{{noble.player_name}}</td>
                    <td>{{noble.soldiers}}</td>
                    <td>{{noble.coin}}</td>
                    <td>{{noble.drinks}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
