{% extends "layout.html" %}
{% block body %}
    <form id="back_to_login" action="{{ url_for('show_login') }}">
        <input class="submit_button" type="submit" name="Login Button" value="Back To Login Page">
    </form>
    <div id="rules">
        <h2>What is Nobles and Peasants?</h2>
        <p class="rule">
            Nobles and Peasants is a different kind of party game. Most party games tell you what to do (e.g. "Throw this ball into that cup" or "Stick this card under that can's tab"). <b>Nobles and Peasants doesn't tell you what to do. Instead, it tells you how to do things.</b> Nobles and Peasants is like a normal party: friends talk, drink, enjoy each other's company, and do whatever they want. However, it places your party in the context of a medieval society and let's your imagination take it from there. For people who just want to drink and hang out with friends, you can do that without much interaction with the rest of the game. For people who want to embrace the inner-workings of this medieval society, you can do that too. Nobles and Peasants establishes the minimal amount of structure so that your night can become as entertaining as your own imagination.
        </p>
        <h2>What is a noble? What is a peasant?</h2>
        <p class="rule">
            Nobles start the game with some amount of coin. Peasants start with nothing. Coin is used to buy drinks. Since they do not have any coin, peasants must pledge allegiance to a noble, which allows them to get drinks using that noble's coin.
        </p>
        <h2>Wait, I need to buy drinks?</h2>
        <p class="rule">
            Yes, you buy them with fake internet points called "coin". However, nothing is stopping someone from getting a drink without spending some coin. I'm not going to hop out the computer and slap the beer out of your hand. Nobles and Peasants is just more fun if everyone uses this website to "buy" a drink.
        </p>
        <h2>You Should Have A Bartender</h2>
        <p class="rule">
            That isn't a question. Buying alcohol is the central element of Nobles and Peasants. For that reason, I'm telling you that you should have a someone at the party that sits with all of the alcohol and a computer. When someone wants a drink, they buy it with the website and the bartender gives them the drink. The bartender should be knowledgeable about how the game works.</p>
        <h2>Why would a noble allow a peasant to use their coin?</h2>
        <p class="rule">
            When a peasant pledges allegiance to a noble, the peasant becomes a soldier in that noble's army. The noble with the most soldiers is <b>The Almighty Ruler of Heaven and Earth</b>. The person with this title is allowed to do whatever he or she wants. Everyone must obey.
        </p>
        <h2>So does The <b>Almighty Ruler of Heaven and Earth</b> win the game?</h2>
        <p class="rule">
            Yes. The noble with the most peasants in his army at the end of the game wins.
        </p>
        <h2>How do I become a noble or a peasant?</h2>
        <p class="rule">
            You can choose which status you want to have, or you can let the game decide for you. Peasants can become nobles later in the game. However, your party shouldn't have too many nobles or too many peasants. You want a balance of around 5-10 peasants for every noble.
        </p>
        <h2>What happens when a noble runs out of coin?</h2>
        <p class="rule">
            When a noble does not have any more coin, that person becomes a peasant. Also, the peasant with the most coin becomes a noble and takes over as the ruler of the previous noble's army.
        </p>
        <h2>How does a peasant get coin?</h2>
        <p class="rule">
            A peasant earns coin by completing quests. An an example of a quest is, "Dance with an inanimate object for a minute." If you complete the quest, you get some coin. There are three difficulty levels for quests, each with a different reward for completion.
        </p>
        <h2>Can a peasant change allegiances?</h2>
        <p class="rule">
            Yes. A peasant can change allegiances as they wish.
        </p>
        <h2>Can a noble prevent a peasant from being in their army?</h2>
        <p class="rule">
            Yes. A noble can ban a peasant, which prevents the peasant from using their coin to drink. However, peasants do not have to get permission from a noble to join the noble's army.
        </p>
        <h2>How can a peasant become a noble?</h2>
        <p class="rule">
            In addition to being the richest peasant when a noble runs out of coin, there is another way for a peasant to become a noble. A peasant can attempt to assassinate a noble. In order to even be allowed to attempt an assassination, the peasant must have a certain amount of coin compared to the noble. If the peasant has enough coin, they must also complete an assassination quest, which is a quest of the highest difficulty. If they succeed, the peasant takes the status, coin, and soldiers from their target.
        </p>
        <h2>Can nobles assassinate nobles?</h2>
        <p class="rule">
            Yes.
        </p>
        <h2>How does this website work?</h2>
        <p class="rule">
            This party is only accessible to those with your party name and password. You can logout and log back in whenever you want. All of the information for this party is saved. You can create as many parties as you want. You can navigate to different pages with the navigation bar at the top of the screen. My name is Michael Frasco. You can contact me at mfrasco6@gmail.com, if you want to provide feedback about the game. You can also check out the repository for the project at https://github.com/mfrasco/Nobles_and_Peasants
        </p>
    </div>
{% endblock %}
